# Autodetect text files -- it is required to fix endofline 
# characters problem of conversion \n to \r\n in GitHub Desktop application under Windows during clone/checkout
#* text=auto
#* text eol=lf

## disable automatic handling of EOL in
* -text
###### old not working way
### * text=false